<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Andrew's Climbing Gear</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/gear">Gear</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>